@{
    ViewData["Title"] = "Ansibility Console";
}

<div class="row">
    <div class="col-md-12">
        <table class="easyui-datagrid" id="grid">
            <thead>
            <tr>
                <th data-options="field:'Id',width:50">Id</th>
                <th data-options="field:'Name',width:50">Name</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="easyui-dialog" id="dialog">
    student
</div>

@section scripts
{
    <script>
        $(function() {
            $("#grid").datagrid("loadData",
            [
                {
                    Id: 123,
                    Name: "student"
                }
            ]);
            $("#dialog").dialog({
                closed: false,
                width: 600,
                height: 400
            }).dialog("center");
        });
    </script>
}